= form_for([@post, @post.comments.build]) do |f|
	.form-group
		= f.label t('default.name')
		= f.text_field :name, class: "form-control"
	.form-group
		= f.label t('default.comment')
		= f.text_area :comment, class: "form-control"
	= f.submit class: "btn btn-primary"