.container.content
	= content_for :page_title, t("default.overview")
	- if @posts.any?
		- @posts.each do |post|
			.card
				.card-body
					.row
						.col-sm-12
							%h3.card-title
								= link_to post.title, post
					.row
						.col-sm-8.mr-auto
							%p
								= truncate(post.content, length: 50, separator: ' ')
						.col-lg-2.col-sm-4.ml-auto
							= link_to t("default.edit"), edit_post_path(post.id), class: "btn btn-primary"
							= link_to t("default.delete"), post_path(post.id), method: :delete, class: "btn btn-danger"